@import '../utils/variables.scss';

*{
    padding: 0px;
    margin: 0px;
}

#root{
    display: flex;
    flex-direction: column;
}

body{
    font-family: 'Courier New', Courier;
    font-size: 100%;
}